@charset "utf-8";
/* CSS Document */

body {
		margin: 0px;
		font: 13px verdana, "Trebuchet MS", sans-serif;
		color: #4F5155;
	}

.judul {
	background-color: #2A9C34;
	margin: 0px;
	border-bottom:2pt solid #41F853;
}

.footer {
	color : #FFC3C3; 
	text-align:center;		
}

.leftborder {
	border-left:2pt solid #41F853;
	text-align:left;		
}



a {
		color: #459E00;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
	}
	
a:link{
		color: #B60606;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
	}
a:hover {
	text-decoration:underline;
		
	}
a:visited{
		color: #B60606;
		
	}
a:active{
		color: #B60606;
		
	}
	
berita {
		color: #FFC3C3;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
		size: 14px;
	}
	
a.berita {
		color: #D77122;
		font-size:16px;
	}
	
a.berita:link{
		color: #D77122;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
	}
a.berita:hover {
		text-decoration:underline;
		
	}
a.berita:visited{
		color: #D77122;
		
	}
a.berita:active{
		color: #D77122;
		
	}

a.linkb:link{
		color: #459E00;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
	}
a.linkb:hover {
		color:#FFFF00;
		
	}
a.linkb:visited{
		color: #459E00;
		
	}
a.linkb:active{
		color: #459E00;
		
	}
	
a.putih {
		color: white;
		font-size:12px;
	}
	
a.putih:link{
		color: white;
		background-color: transparent;
		font-weight: normal;
		text-decoration:none;
	}
a.putih:hover {
		font-weight: bold;
		
	}
a.putih:visited{
		color: white;
		
	}
a.putih:active{
		color: white;
		
	}
	
	
.dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
.dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
#ajax_paging a {
	color:white;
	background-color: #D77122;
	font-weight:bold;
	border:1pt solid white;
	padding: 2px 6px;
	margin:-1pt;
}
#ajax_paging strong {
	color:white;
	background-color: #2A9C34;
	font-weight:bold;
	padding: 2px 6px;
	border:1pt solid white;
	margin:-1pt;
}

.fail{
color:red;
}

.alert{
color:red;
}

.headtable { color:white;
background-color:#80AF8F;
padding:4px;
border:1pt solid #557777;
}

.isikecil { 
padding:4px;
border:1pt solid #557777;
}

.kotak {border-collapse:collapse; padding:3px; }
.kotak th { color:white;
background-color:#55A616;
padding:4px;
border:1pt solid #327E04;
}

.kotak td { 
padding:4px;
border:1pt solid #327E04;
background-color:#D9FAA0;
}
