.panel-heading > .tombol-kanan {margin-top: -5px; float: right;}

.panel-heading > .tombol-kanan > .btn-xs {  margin-top: 4px;}


.txt-selamat-datang {
	padding: 5px;
	color: #fff;
	background-color: #2f3d44;
}

.ui-state-error {
	padding: 3px;
    background-color: #ff1c00;
    color: #fff;
    margin-top: 5px;
}

.ui-state-highlight {
	padding: 3px;
    background-color: #75d853;
    color: #fff;
    margin-bottom: 10px;
}

.sidebar-collapse .txt-selamat-datang {
	display: none;
}

#window {
	overflow-x: auto;
}
