

html, body {
	width: 100%;
	overflow-x: hidden;
	background-color: #f3f3f3;
}

.header-top {
	background-color: #CC0000;
	height: 50px;
}

ul.top-menu {
	padding-left: 0px;
}
	ul.top-menu li {
		list-style: none;
		display: inline-block;
		vertical-align: middle;
		margin-left: -5px;
	}
		ul.top-menu li a {
			display: block;
		    padding: 17px 15px;
		    color: #fff;
		    text-decoration: none;
		}
		ul.top-menu li:hover, ul.top-menu li.active {
			background-color: #B60606;
		}
		.top-menu-list.top-menu-login {
			float: right;
		}
.top-menu-logo {
	display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 29px;
}
.container-top-menu {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 125px);
}
.top-menu-logo a {
	font-size: 17px;
    font-weight: bold;
    padding: 20px 15px 15px 15px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
}


.slideshow-wrapper img {
	height: 430px;
	width: 100%;
}


.slick-dots {
	bottom: 12px;
}
.slick-dots li button:before {
	color: #f39c12;
	font-size: 15px;
}
.slick-dots li.slick-active button:before {
	color: #f39c12;
}
.slick-dotted.slick-slider {
	margin-bottom: 0px;
}

.side-menu-wrapper {
	margin-top: 20px;
}
.side-menu-list {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
.side-menu-list ul.side-menu {
	padding-left: 0px;
	background-color: #fff;
	margin-bottom: 20px;
}
	.side-menu-list ul.side-menu li {
		list-style: none;
		font-size: 14px;
	}
		.side-menu-list ul.side-menu li a {
			display: block;
			padding: 10px 15px;
			text-decoration: none;
		}
		.side-menu-list ul.side-menu li a:hover {
			background-color: #fd7373;
		}
.side-menu-title {
	font-size: 16px;
    text-align: center;
    background-color: #cc0000;
    padding: 10px;
    color: #fff;
    position: relative;
    font-weight: bold;
}
.caret-menu-title-wrapper {
	border-right: 15px solid #cc0000;
    border-top: 39px solid transparent;
    position: absolute;
    left: -15px;
    top: 0px;
}
	.caret-menu-title {
		position: absolute;
	    border-left: 15px solid transparent;
	    border-top: 20px solid #9a0a0a;
	    left: 0px;
	}

.container-content {
	margin-top: 20px;
}

/* judul berita, agenda prodi, informasi, artikel*/
.content-title {
	font-size: 20px;
	font-family: 'Tahoma';
	padding: 10px 0px;
}


.content-news {
	margin-bottom: 20px;
}

.content-news-image img {
	width: 100%;
	height: 200px;
}

/*CSS untuk Judul Berita*/
.content-news-title {
	padding: 10px 5px;
    font-weight: bold;
    height: 70px;
    background-color: #fff;
    font-size: 14px;
    color:#009933;
}

/*read more */
.content-read-more {
	background-color: #fff;
	text-align: right;
	padding: 5px;
}


.agenda-list {
	display: table;
	width: 100%;
	margin-bottom: 10px;
	height: 80px;
}
	.agenda-list .agenda-list-date {
		display: table-cell;
		width: 100px;
		background-color: #007bc7;
		color: #fff;
		font-weight: bold;
		padding: 10px;
		text-align: center;
		font-size: 14px;
	}
	.agenda-list .agenda-list-name {
		display: table-cell;
		padding: 10px;
		background-color: #fff;
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
	}

	/* CSS untuk agenda prodi dan artikel */
		.agenda-list .agenda-list-name a {
			color: #009933; 
			font-size: 14px;
			font-weight: bold;
		}



.container-bottom {
	background-color: #920000;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.container-bottom .content-title {
	color: #fff;
}
.container-kegiatan {
    color: #dcdcdc;
}
	.container-kegiatan-title a {
		font-family: 'Helvetica';
	    font-weight: bold;
	    font-size: 17px;
	    color: #fff;

	}
	.container-kegiatan-desc {
		font-family:"Calibri";
		font-size: 14px;
		margin-top: 5px;
	}


ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.container-footer {
	background-color: #cc0000;
	padding-top: 10px;
	padding-bottom: 10px;
}
	.container-footer h5 {
		color: #ffa4a4;
		font-size: 12px;
	}
.link-lainnya a {
	color: #ffb7b7;
	padding-top: 10px;
	display: block;
}

.container-content-top {
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom: 3px solid #ffc6c6;
}
.image-content-top {
	display: inline-block;
	vertical-align: top;
}
	.image-content-top img {
		padding: 5px;
		border-radius: 5px;
		border: 1px solid #d0d0d0;
	}
.text-content-top {
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
	color: #b33c00;
	padding-left: 10px;
}
.container-content-text {
	background-color: #fff;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
.container-content-text img {
	max-width: 100%;
	height: auto;
}

.list-slideshow-title {
		position: absolute;
    background-color: rgba(0,0,0,0.4);
    padding: 0px 20px 20px 20px;
    color: #fff;
    display: block;
    bottom: 50px;
    right: 50px;
}

.list-slideshow {
	position: relative;
}
.list-dosen {
    text-align: center;
    margin-bottom: 10px;
}
	.list-dosen .list-dosen-photo img {
		width: 100%;
		height: 200px;
	}
.list-dosen-desc {
	padding: 10px;
	background-color: #f3f3f3;
}

.detail-list-dosen-photo {
	display: inline-block;
	vertical-align: top;
}
	.detail-list-dosen-photo img {
		width: 100px;
		height: 100px;
	}
.detail-list-dosen-desc {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.detail-list-dosen-deskripsi {
	margin-top: 10px;
}
.breadcrumb {
	padding: 10px 0px 10px 0px;
    margin-bottom: 0px !important;
}

@media (min-width: 768px) {
	.header-top {
		position: fixed;
		width: 100%;
		z-index: 9999;
	}
	ul.top-menu {
		display: block !important;
	}
}

@media (max-width: 767px) {
	.container-kegiatan {
		margin-bottom: 20px;
	}
	ul.top-menu {
		z-index: 999;
	    position: absolute;
	    width: 100%;
	    left: 0px;
	    top: 50px;
	    background-color: #a00303;
	    display: none;
	}
	ul.top-menu li {
		display: block;
	}
	ul.top-menu .top-menu-login {
		float: none;
	}
	ul.top-menu li a {
		padding: 17px 25px;
	}
	.top-menu-logo {
		padding-top: 15px;
	}
		.top-menu-logo a {
			padding-left: 5px;
		}
	.small-menu-icon {
		float: right;
	    margin-top: 10px;
	    font-size: 25px;
	    color: #fff;
	}

	.slideshow-wrapper img {
		height: auto;
	}

	.content-news-image img {
		height: auto;
	}

	ul.social-network li {
		margin: auto;
	}
	.social-circle li a {
		width: 45px;
		height: 45px;
	}
	.text-content-top {
		text-align: center;
	}
	.image-content-top {
		text-align: center;
    	width: 100%;
	}
	.container-content-top {
		margin-top: 0px;
	}
	.list-slideshow-title {
		bottom: 5px;
		right: 5px;
	}

	.list-dosen .list-dosen-photo img {
		width: 100%;
		height: auto;
	}
}
